In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [101]:
df.shape

(891, 12)

In [5]:
df["Survived"].value_counts()/df.shape[0]

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [6]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [48]:
xtest = df[df['Survived']==1].sample(n=5)[['Pclass','Fare','Age']].fillna(56)

In [49]:
xtest.values

array([[  2.    ,  13.    ,  28.    ],
       [  3.    ,  19.2583,   0.75  ],
       [  2.    ,  13.    ,  24.    ],
       [  1.    , 227.525 ,  42.    ],
       [  2.    ,  29.    ,   0.83  ]])

In [7]:
df1= df[df['Survived']==1].sample(n=6)

In [8]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
632,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C
489,490,1,3,"Coutts, Master. Eden Leslie ""Neville""",male,9.0,1,1,C.A. 37671,15.9000,NaN,S

In [9]:
df1 = pd.concat([df1,df[df['Survived']==0]])
df1.shape

(555, 12)

In [11]:
df1["Survived"].value_counts()/df1.shape[0]

0    0.989189
1    0.010811
Name: Survived, dtype: float64

In [17]:
df1 = df1.reset_index(drop=True)
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
1,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
2,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0000,C93,S
3,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
4,633,1,1,"Stahelin-Maeglin, Dr. Max",male,32.0,0,0,13214,30.5000,B50,C

In [30]:
df1['Age'].median

<bound method NDFrame._add_numeric_operations.<locals>.median of 0      56.0
1      49.0
2      38.0
3       NaN
4      32.0
       ...
550    25.0
551    39.0
552    27.0
553     NaN
554    32.0
Name: Age, Length: 555, dtype: float64>

In [32]:
df1['Age'].fillna(56,inplace=True)

In [33]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          483
Embarked         0
dtype: int64

In [34]:
X , Y = df1[['Pclass','Fare','Age']], df1['Survived']

In [35]:
X.shape, Y.shape

((555, 3), (555,))

In [36]:
from imblearn.over_sampling import SMOTE

In [37]:
s = SMOTE()

In [38]:
features, label = s.fit_resample(X,Y)

In [39]:
features.shape

(1098, 3)

In [40]:
label.shape

(1098,)

In [42]:
label.value_counts()

1    549
0    549
Name: Survived, dtype: int64

In [43]:
 from sklearn.ensemble import IsolationForest

In [44]:
isolation = IsolationForest()

In [45]:
classifier = isolation.fit(X)

In [50]:
classifier.predict(xtest.values)

C:\Users\Hp\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

array([ 1, -1,  1, -1, -1])

In [55]:
from keras.models import Sequential
from keras.layers import Dense,Dropout, LSTM , SimpleRNN, Embedding, Input

In [57]:
model = Sequential()
model.add(Input(shape = (3,)))
model.add(Dense(16, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(3))

In [58]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                64

 dense_6 (Dense)             (None, 10)                170

 dense_7 (Dense)             (None, 16)                176

 dense_8 (Dense)             (None, 3)                 51

=================================================================
Total params: 461 (1.80 KB)
Trainable params: 461 (1.80 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [59]:
model.compile(loss='mean_squared_error',metrics=['accuracy'])

In [61]:
data = df[df['Survived']==0][['Pclass','Fare','Age']]
data['Age'].fillna(56,inplace=True)

In [62]:
data.shape

(549, 3)

In [63]:
data.values

array([[ 3.    ,  7.25  , 22.    ],
       [ 3.    ,  8.05  , 35.    ],
       [ 3.    ,  8.4583, 56.    ],
       ...,
       [ 2.    , 13.    , 27.    ],
       [ 3.    , 23.45  , 56.    ],
       [ 3.    ,  7.75  , 32.    ]])

In [64]:
model.fit(data.values, data.values ,batch_size=12,epochs=10)

Epoch 1/10
46/46 [==============================] - 2s 4ms/step - loss: 567.9599 - accuracy: 0.9016
Epoch 2/10
46/46 [==============================] - 0s 4ms/step - loss: 176.5673 - accuracy: 0.9344
Epoch 3/10
46/46 [==============================] - 0s 3ms/step - loss: 83.7390 - accuracy: 0.9417
Epoch 4/10
46/46 [==============================] - 0s 4ms/step - loss: 32.5638 - accuracy: 0.9709
Epoch 5/10
46/46 [==============================] - 0s 6ms/step - loss: 10.8222 - accuracy: 0.9872
Epoch 6/10
46/46 [==============================] - 0s 6ms/step - loss: 5.1341 - accuracy: 0.9909
Epoch 7/10
46/46 [==============================] - 0s 4ms/step - loss: 2.8039 - accuracy: 0.9891
Epoch 8/10
46/46 [==============================] - 0s 8ms/step - loss: 1.4677 - accuracy: 0.9927
Epoch 9/10
46/46 [==============================] - 0s 5ms/step - loss: 0.8596 - accuracy: 0.9872
Epoch 10/10
46/46 [==============================] - 0s 6ms/step - loss: 0.6775 - accuracy: 0.9945

In [70]:
pred = model.predict(data.values)

18/18 [==============================] - 0s 3ms/step

In [77]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
import numpy as np

In [72]:
mean_absolute_error(data.values, pred)

0.44876015705428274

In [73]:
mean_squared_error(data.values, pred)

0.5293634254031835

In [86]:
err = data.values -pred

In [87]:
err

array([[ 0.86956358,  0.14732075,  0.06060791],
       [ 0.3652482 ,  0.00221901,  0.0414238 ],
       [ 0.06489611, -0.11701643,  0.55564117],
       ...,
       [ 0.13976252,  0.0041275 ,  0.32153511],
       [ 0.07330751,  0.01921196,  0.51650238],
       [ 0.44199324,  0.02518892,  0.00442314]])

In [91]:
err.shape

(549, 3)

In [92]:
error_rate = np.mean(err,axis=1)

In [93]:
len(error_rate)

549

In [97]:
error_rate.mean()

0.16690336535314249

In [94]:
data = df[df['Survived']==1][['Pclass','Fare','Age']]
data['Age'].fillna(56,inplace=True)

In [95]:
pred_anomaly = model.predict(data.values)

11/11 [==============================] - 0s 5ms/step

In [98]:
err_an = data.values -pred_anomaly

In [99]:
error_rate_an = np.mean(err_an,axis=1)
error_rate_an

array([-3.19288864e-01,  2.95758502e-01, -3.23755868e-01,  3.91115405e-01,
        6.70255997e-02,  4.00290434e-01, -3.31606134e-01, -2.56199360e-01,
       -1.76663240e-01,  1.90615845e-01,  3.24201584e-03,  4.42260120e-01,
       -2.03104774e-01,  3.25871690e-01,  1.82805862e-01,  2.78043368e-02,
        1.84403578e-01,  1.90565624e-01,  4.16594011e-01,  2.10492879e-01,
        4.18204671e-01,  1.84403578e-01, -4.38308042e-01,  8.98515781e-02,
       -3.42769464e-01,  1.65551861e-01,  2.65153448e-01, -2.27509022e-01,
       -7.58346532e-03,  2.19022433e-02,  4.29955618e-01,  1.30010122e-01,
       -1.27331112e-01,  3.74129327e-01,  2.87306309e-01,  1.83959198e-01,
        1.65068984e-01,  4.14052359e-01,  9.42284465e-01, -3.17963264e-02,
        4.25458352e-02,  3.95825036e-01,  1.84107908e-01,  2.28617636e-01,
        3.62814267e-02,  4.19611277e-01,  3.11149508e-01,  1.63065364e-01,
        8.98515781e-02, -1.94900129e-01,  3.77457301e-01,  3.63849076e-01,
        2.69005547e-01,  2.70647128e-02,  4.33811794e-01, -2.82953580e-02,
        3.16920288e-01, -2.65801589e-01,  2.98045852e-01, -2.53418406e-01,
        4.56360428e-01, -1.41517321e-02, -1.96577255e-01,  4.72935041e-02,
        4.17967715e-01,  2.78338393e-01, -2.88352901e-01, -2.16513059e-02,
        1.84403578e-01,  4.25473348e-01,  3.61258578e-01,  4.33969061e-01,
       -2.47038007e-01,  1.13096118e-01,  2.95967428e-01,  2.73732917e-01,
       -1.18178608e-01,  4.36795052e-01, -1.22212529e-01,  1.76873406e-01,
       -1.16729665e-01,  5.30214890e-01,  1.75169667e-01, -1.41517321e-02,
        1.52549942e-01, -2.97163862e-01,  4.31002452e-01, -3.93218454e-01,
        3.87702386e-02, -4.89439267e-02,  1.26466274e-01,  5.04893565e-01,
        3.12296677e-01,  5.14408429e-02,  4.32475982e-01,  7.87501335e-02,
        8.68805250e-02,  1.84403578e-01, -3.07466863e-01,  4.44184780e-01,
        4.19812973e-01,  2.65281518e-01, -1.72963301e-01,  3.77457301e-01,
        5.71359714e-02,  3.59010011e-01, -1.43035094e-01,  1.23966948e+00,
        1.84403578e-01,  1.95694129e-01, -1.59863122e-01, -2.41129487e+00,
       -3.47445907e-01,  5.96109716e-01, -2.72598443e-01,  1.51957259e-01,
       -3.44408353e-02,  2.93168106e-01,  1.20682597e-01,  8.39216691e-01,
        2.96902537e-01,  6.75634066e-02,  6.72059457e-02,  4.07745300e-01,
       -4.08094724e-02,  3.32650510e-01,  8.46704624e-02,  1.95690950e-01,
       -1.07720407e-01,  2.72168676e-01,  1.56342920e-01,  2.07705776e-01,
        1.13931676e+00,  1.72123790e-01, -1.28911813e-01, -2.96573321e-02,
        4.16596341e-01, -9.50735013e-02,  1.82805862e-01,  1.82805862e-01,
       -3.08722019e-01,  1.90565624e-01,  1.84403578e-01,  6.03784720e-03,
       -1.64612565e-01, -4.25771942e-01,  3.59164079e-01,  1.22695383e+00,
        2.83196551e-01, -3.11707020e-01, -4.08094724e-02,  1.19711916e-01,
        2.43133108e-01,  4.01159694e-01,  4.93801443e-01,  3.67206200e-01,
        1.22591027e-01,  1.47547181e-01,  2.19845573e-01,  1.43071016e-03,
        1.57567279e-01,  8.00401370e-02,  1.16564631e-01,  9.69446898e-02,
        6.91457192e-02,  1.68177382e-01, -1.79478828e-01, -2.96573321e-02,
        3.48852873e-02,  7.87182053e-01,  9.67008670e-02,  1.46256288e-01,
        1.35396838e-01,  1.76776028e-01, -4.48711743e-01,  7.85080989e-02,
       -2.22040677e-01,  4.02499932e-01, -2.05276926e-01, -4.03669319e-01,
        2.28612226e-01, -2.78183842e-01, -1.24076684e-01, -1.11347381e-01,
        2.09917921e-01,  6.83862368e-02,  1.71454825e-01,  4.03287999e-01,
        1.52686723e-01,  2.10634182e-01, -4.80274757e-02,  3.37659367e-01,
       -4.03617312e-01,  3.84980718e-01,  6.14759525e-02, -2.87552738e-01,
        2.75279238e-01,  2.23278522e-01, -2.37264880e-01, -2.34248193e-01,
       -8.82274310e-02,  4.01943922e-02,  1.12475276e-01, -2.84440321e-01,
       -1.24076684e-01,  2.07705776e-01,  1.63065364e-01,  1.99899872e-01,
        2.48574392e-01, -1.52986964e-01, -2.72814870e-01,  6.85725609e-02,
        6.91457192e-02, -1.98953851e-01,  2.85730879e-01,  6.17001154e-01,
        3.58249855e-01,  3.78373114e-01, -2.69838937e-01, -2.55923303e-01,
        4.11674150e-01,  1.61015231e-01, -1.00023111e-01, -2.58416456e-01,
       -2.36866689e-01,  1.84403578e-01,  3.24201584e-03, -3.13199075e-01,
        1.63604196e-01,  8.71733427e-02,  7.29528446e-02,  2.63397543e-01,
       -3.51993020e-01, -4.24230665e-01,  7.70710309e-02, -2.21401431e-01,
        1.09726787e-01, -2.29134742e-01, -1.58635259e-01, -9.63088856e-03,
        4.96571549e-01, -1.41517321e-02,  1.87521815e-01,  3.56893261e-01,
       -2.45626666e-01,  3.91796571e-01,  1.71395622e-01, -6.89946969e-01,
       -1.92262769e-01,  1.35396838e-01,  6.03784720e-03,  2.97298584e-01,
        2.09917921e-01, -4.48617262e-01, -3.42772007e-01,  3.48115063e-01,
        9.17037725e-02,  1.83466663e-01,  4.06611443e-02,  4.12975089e-01,
       -2.77643045e-01,  6.31353060e-02,  6.93202019e-02,  4.42354057e-01,
        1.48047040e-01,  1.00753289e-02,  6.13565127e-02, -2.96575348e-01,
        3.65718363e-01,  2.97298584e-01,  1.84601396e-01,  4.34578864e-01,
       -2.30171132e-01, -2.11634477e-01, -2.79822914e-01,  9.21553111e-01,
       -7.58346532e-03, -2.02402228e-01, -2.20895608e-01,  1.32587910e+00,
        6.59540892e-02,  2.95704722e-01, -2.38730677e-01,  6.30205870e-02,
        1.84552606e-01,  1.37799486e+00, -4.89731728e-02, -1.61327203e-01,
        5.56647778e-01,  1.85629940e-01,  9.13456678e-02,  2.39867965e-01,
        3.44255519e-01, -5.91791471e-02,  4.08961916e-02, -3.54224443e-02,
        4.02455527e-01,  2.43133108e-01, -4.31157150e-01, -7.13950793e-02,
        3.33948048e-01,  1.03178375e+00,  4.46042933e-01,  4.96319532e-02,
        4.20252039e-01,  2.47750823e-01, -1.56089363e-01,  2.13375244e-01,
        7.66514540e-02,  5.02495646e-01,  2.20236862e-01,  2.38974921e-01,
       -3.44371724e-01, -4.31567987e-01,  3.00717068e-01,  4.16217836e-01,
       -2.19617718e-01,  1.84403578e-01, -3.40137959e-01,  4.15340851e-01,
        3.89885362e-02, -2.18983307e-01,  1.30005989e-01, -1.72302977e-01,
       -1.76102440e-01, -5.01721026e-01, -1.10963496e-01,  4.37721960e-01,
        4.93006212e-01, -1.77426243e-01,  3.77303698e-01, -1.34063897e-01,
       -1.72963301e-01,  1.63227846e-01,  3.41675061e-01, -2.11613554e-01,
        8.90514453e-02,  4.34682123e-01, -4.36589533e-01,  1.18224661e-01,
       -2.35618075e-01, -1.63466573e-01])

In [100]:
error_rate_an.mean()

0.10087282685917505