In [1]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()
import pandas as pd
from nltk.stem import PorterStemmer
import nltk
import contractions
import re

stop_words = nltk.corpus.stopwords.words('english')

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('TwitterData.csv')

In [5]:
df.head()

,sentiment,content,text
0,empty,@tiffanylue i know i was listenin to bad habi...,know wa listenin bad habit earlier start frea...
1,sadness,Layin n bed with a headache ughhhh...waitin o...,layin n bed headach ughhhh waitin call
2,sadness,Funeral ceremony...gloomy friday...,funer ceremoni gloomi friday
3,enthusiasm,wants to hang out with friends SOON!,want hang friend soon
4,neutral,@dannycastillo We want to trade with someone w...,want trade someon ha houston ticket one

In [6]:
df.isnull().sum()

sentiment      0
content        0
text         201
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

sentiment    0
content      0
text         0
dtype: int64

In [9]:
df['sentiment'].value_counts()

neutral       8508
worry         8439
happiness     5205
sadness       5155
love          3837
surprise      2182
fun           1775
relief        1524
hate          1322
empty          805
enthusiasm     758
boredom        179
anger          110
Name: sentiment, dtype: int64

In [10]:
df1 = df[df['sentiment'].isin(['happiness','sadness'])]

In [11]:
df1.shape

(10360, 3)

In [12]:
df1['sentiment'].value_counts()

happiness    5205
sadness      5155
Name: sentiment, dtype: int64

In [13]:
labels_mapping = {'sadness':0,'happiness':1}
df1['label'] = df1['sentiment'].apply(lambda x: labels_mapping[x])

In [14]:
df1.head()

,sentiment,content,text,label
1,sadness,Layin n bed with a headache ughhhh...waitin o...,layin n bed headach ughhhh waitin call,0
2,sadness,Funeral ceremony...gloomy friday...,funer ceremoni gloomi friday,0
6,sadness,"I should be sleep, but im not! thinking about ...",sleep think old friend want marri damn amp wan...,0
8,sadness,@charviray Charlene my love. I miss you,charlen love miss,0
9,sadness,@kelcouch I'm sorry at least it's Friday?,sorri least friday,0

In [15]:
df1.tail()

,sentiment,content,text,label
39986,happiness,going to watch boy in the striped pj's hope i ...,go watch boy stripe pj hope cri,1
39987,happiness,"gave the bikes a thorough wash, degrease it an...",gave bike thorough wash degreas greas think re...,1
39988,happiness,"had SUCH and AMAZING time last night, McFly we...",amaz time last night mcfli incred,1
39994,happiness,Succesfully following Tayla!!,succes follow tayla,1
39998,happiness,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...,wassup beauti follow peep new hit singl wwwmy...,1

In [16]:
df1 = df1.reset_index(drop=True)

In [17]:
df1.head()

,sentiment,content,text,label
0,sadness,Layin n bed with a headache ughhhh...waitin o...,layin n bed headach ughhhh waitin call,0
1,sadness,Funeral ceremony...gloomy friday...,funer ceremoni gloomi friday,0
2,sadness,"I should be sleep, but im not! thinking about ...",sleep think old friend want marri damn amp wan...,0
3,sadness,@charviray Charlene my love. I miss you,charlen love miss,0
4,sadness,@kelcouch I'm sorry at least it's Friday?,sorri least friday,0

In [19]:
def wordcheck(x):
    s = [w for w in x if len(w)>=4]
    return ' '.join(s)

In [20]:
df1['text2'] = df1['text'].apply(lambda x : wordcheck(x.split(' ')))

In [21]:
df1.head()

,sentiment,content,text,label,text2
0,sadness,Layin n bed with a headache ughhhh...waitin o...,layin n bed headach ughhhh waitin call,0,layin headach ughhhh waitin call
1,sadness,Funeral ceremony...gloomy friday...,funer ceremoni gloomi friday,0,funer ceremoni gloomi friday
2,sadness,"I should be sleep, but im not! thinking about ...",sleep think old friend want marri damn amp wan...,0,sleep think friend want marri damn want scandal
3,sadness,@charviray Charlene my love. I miss you,charlen love miss,0,charlen love miss
4,sadness,@kelcouch I'm sorry at least it's Friday?,sorri least friday,0,sorri least friday

In [22]:
df1.isnull().sum()

sentiment    0
content      0
text         0
label        0
text2        0
dtype: int64

In [23]:
df1['label'].value_counts()

1    5205
0    5155
Name: label, dtype: int64

## Create Tokens

In [27]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

In [29]:
from sklearn.model_selection import train_test_split

In [93]:
X = df1['text2'].values
Y = df1['label'].values

In [94]:
X[:3],Y[:3]

(array(['layin headach ughhhh waitin call', 'funer ceremoni gloomi friday',
        'sleep think friend want marri damn want scandal'], dtype=object),
 array([0, 0, 0], dtype=int64))

In [95]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.20 , random_state=1, stratify=Y)
xtrain.shape,xtest.shape,ytrain.shape, ytest.shape

((8288,), (2072,), (8288,), (2072,))

In [96]:
t = Tokenizer()
t.fit_on_texts(xtrain)

In [97]:
encoded_train = t.texts_to_sequences(xtrain)
encoded_test = t.texts_to_sequences(xtest)

In [98]:
len(encoded_train)

8288

In [99]:
encoded_train[:5]

[[342],
 [491, 82, 47, 228, 113, 115, 262, 1289, 16, 229, 14],
 [6, 30, 3106],
 [79],
 [3107, 3108, 3109, 89, 3110, 1290, 383, 1291, 492, 1585]]

In [101]:
max_len = 8
transformed_train = pad_sequences(encoded_train,maxlen= max_len , padding='post')
transformed_test = pad_sequences(encoded_test,maxlen= max_len , padding='post')

In [102]:
transformed_train[:5]

array([[ 342,    0,    0,    0,    0,    0,    0,    0],
       [ 228,  113,  115,  262, 1289,   16,  229,   14],
       [   6,   30, 3106,    0,    0,    0,    0,    0],
       [  79,    0,    0,    0,    0,    0,    0,    0],
       [3109,   89, 3110, 1290,  383, 1291,  492, 1585]])

In [103]:
transformed_test.shape, transformed_train.shape

((2072, 8), (8288, 8))

In [104]:
vocab = len(t.word_index)+1

In [105]:
from keras.models import Sequential
from keras.layers import Dense,Dropout, LSTM , SimpleRNN, Embedding

In [106]:
model = Sequential()
model.add(Embedding(vocab,64, input_length=max_len))
model.add(SimpleRNN(64, return_sequences=True))
model.add(SimpleRNN(32,dropout=0.2))
model.add(Dense(1,activation='sigmoid'))

In [107]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_6 (Embedding)     (None, 8, 64)             564160

 simple_rnn_8 (SimpleRNN)    (None, 8, 64)             8256

 simple_rnn_9 (SimpleRNN)    (None, 32)                3104

 dense_4 (Dense)             (None, 1)                 33

=================================================================
Total params: 575553 (2.20 MB)
Trainable params: 575553 (2.20 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [108]:
model.compile(loss='binary_crossentropy',metrics=['accuracy'])

model.fit(x = transformed_train, y = ytrain, epochs=10)

Epoch 1/10
259/259 [==============================] - 6s 13ms/step - loss: 0.5719 - accuracy: 0.6834
Epoch 2/10
259/259 [==============================] - 3s 12ms/step - loss: 0.4205 - accuracy: 0.8102
Epoch 3/10
259/259 [==============================] - 3s 13ms/step - loss: 0.3141 - accuracy: 0.8710
Epoch 4/10
259/259 [==============================] - 3s 12ms/step - loss: 0.2216 - accuracy: 0.9106
Epoch 5/10
259/259 [==============================] - 3s 12ms/step - loss: 0.1657 - accuracy: 0.9356
Epoch 6/10
259/259 [==============================] - 3s 11ms/step - loss: 0.1297 - accuracy: 0.9498
Epoch 7/10
259/259 [==============================] - 3s 11ms/step - loss: 0.1078 - accuracy: 0.9595
Epoch 8/10
259/259 [==============================] - 4s 14ms/step - loss: 0.0934 - accuracy: 0.9655
Epoch 9/10
259/259 [==============================] - 3s 13ms/step - loss: 0.0816 - accuracy: 0.9692
Epoch 10/10
259/259 [==============================] - 3s 13ms/step - loss: 0.0738 - accuracy: 0.9719

In [77]:
from sklearn.metrics import accuracy_score

In [109]:
pred = (model.predict(transformed_test)>0.50)
pred = pred *1
accuracy_score(ytest, pred)

65/65 [==============================] - 1s 5ms/step

0.7224903474903475

# LSTM

In [110]:
model1 = Sequential()
model1.add(Embedding(vocab,64, input_length=max_len))
model1.add(LSTM(64))
model1.add(Dense(1,activation='sigmoid'))

In [111]:
model1.compile(loss='binary_crossentropy',metrics=['accuracy'])

model1.fit(x = transformed_train, y = ytrain, epochs=10)

Epoch 1/10
259/259 [==============================] - 6s 13ms/step - loss: 0.6009 - accuracy: 0.6511
Epoch 2/10
259/259 [==============================] - 3s 12ms/step - loss: 0.4569 - accuracy: 0.7884
Epoch 3/10
259/259 [==============================] - 3s 12ms/step - loss: 0.4032 - accuracy: 0.8242
Epoch 4/10
259/259 [==============================] - 3s 12ms/step - loss: 0.3661 - accuracy: 0.8476
Epoch 5/10
259/259 [==============================] - 3s 11ms/step - loss: 0.3357 - accuracy: 0.8614
Epoch 6/10
259/259 [==============================] - 3s 12ms/step - loss: 0.3105 - accuracy: 0.8719
Epoch 7/10
259/259 [==============================] - 3s 12ms/step - loss: 0.2841 - accuracy: 0.8872
Epoch 8/10
259/259 [==============================] - 3s 12ms/step - loss: 0.2647 - accuracy: 0.8964
Epoch 9/10
259/259 [==============================] - 3s 13ms/step - loss: 0.2457 - accuracy: 0.9077
Epoch 10/10
259/259 [==============================] - 4s 15ms/step - loss: 0.2295 - accuracy: 0.9114

In [112]:
pred = (model.predict(transformed_test)>0.50)
pred = pred *1
accuracy_score(ytest, pred)

65/65 [==============================] - 0s 4ms/step

0.7224903474903475